body {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  margin:0;
  padding:0;
}

.headerWrapper{
  padding: 5px 40px;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: #fff;
}

.headerWrapper .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: inherit;
}

#headerLogo {
  height: 80%;
  float: left;
}

.logoDesc {
  display: inline-block;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.headerWrapper .header-limiter h1{
  padding-top: 1.5%;
  text-align: center;
  font: normal 55px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.headerWrapper .header-limiter h1 span {
  color: #5383d3;
}

/* The header links */

.headerWrapper .header-limiter a {
  color: #5c616a;
  text-decoration: none;
}

#flexContainer {
  padding-top: 4vh;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 80%;
}

#queryBox {
  display: flex;
  justify-content: center;
  margin: auto;
}

#queryForm {
  width: 100%;
}

#queryInput {
  width: 100%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }


}