html {
  background-color: whitesmoke;
}

body {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  margin:0;
  padding:0;
}

.headerWrapper{
  padding-top: 0.2vh;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: lightgray;
  background-image: linear-gradient(#b3b3b3, whitesmoke);
}

.headerWrapper .header-limiter {
  padding-top: 1vh;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: inherit;
  width: 80%;
}

#headerLogo {
  height: 80%;
  float: left;
}

.headerWrapper .header-limiter h1{
  text-align: center;
  font: normal 60px Cookie, Arial, Helvetica, sans-serif;
  margin: 0;
}

.headerWrapper .header-limiter h1 span {
  color: #5c616a;
}

.headerWrapper .header-limiter a {
  color: #00a467;
  text-decoration: none;
}

#flexContainer {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 80%;
}

#queryBox {
  display: flex;
  justify-content: center;
  margin: auto;
}

#queryForm {
  width: 100%;
}

#queryInput {
  width: 99%;
}

.button {
  background-color: #00a467;
  color: whitesmoke;
  padding: 5px 40px;
  font-size: 15px;
}

#button:hover {
  color: #00a467;
  background-color: whitesmoke;
}

#formControlls {
  background-color: lightgray;
  margin-bottom: 1%;
  margin-top: 1%;
}

#formDesc {
  font-family: Trebuchet MS;
  color: #696868;
  font-size: 3vh;
  margin-bottom: 0%;
}

#resultBox {
  padding-top: 2%;
  overflow-x: scroll;
  justify-content: center;

}

#resultTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  white-space: nowrap;
}

#resultTable td, #resultTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resultTable tr:nth-child(even){background-color: #f2f2f2;}

#resultTable tr:hover {background-color: #ddd;}

#resultTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a467;
  color: white;
}

#errorMessage {
  color: #bf5555;
  text-align: center;
  padding-bottom: 10vh;
}

#warningMessage {
  color: goldenrod;
  text-align: center;
}

.errorDesc {
  font-family: Trebuchet MS;
  font-size: 3vh;
}

.exampleDesc {
  font-family: Trebuchet MS;
  font-size: 2.6vh;
}

.smallerPic {
  max-width: 70%;
  height: auto;
}

.instructionsBulletPoints {
  margin-top: 0;
}

/*p {*/
  /*font-family: Trebuchet MS;*/
  /*color: #15362c;*/
  /*font-size: 2.6vh;*/
/*}*/

.instructionsPic {
  width: 99%;
}

#instructions {
  display: none;
  width: 100%;
  margin-top: -2vh;
  background-color: lightgrey;
  padding-bottom: 2vh;
}

.instructionsBulletPoints{
  padding-top: 10px;
  margin-top: 0;
}

.contents {
  background: yellow;
  color: rgba(0, 0, 0, .8);
  padding: 20px;
  margin:0;
}
.slide-up, .slide-down {
  overflow:hidden
}
.slide-up > div, .slide-down > div {
  margin-top: -25%;
  transition: margin-top 0.4s ease-in-out;
}
.slide-down > div {
  margin-top: 0;
}

#instructionsButton {
  color: #00a467;
  border: none;
  background-color: lightgray;
}

#instructionsButton:hover {
  color: lightgray;
  border: none;
  background-color: #00a467;
}

button:focus {outline:0;}
