html {
  background-color: whitesmoke;
}

body {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  margin:0;
  padding:0;
}

.headerWrapper{
  padding-top: 0.2vh;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: lightgray;
}

.headerWrapper .header-limiter {
  padding-top: 1vh;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: inherit;
  width: 80%;
}

#headerLogo {
  height: 80%;
  float: left;
}

.headerWrapper .header-limiter h1{
  text-align: center;
  font: normal 60px Cookie, Arial, Helvetica, sans-serif;
  margin: 0;
}

.headerWrapper .header-limiter h1 span {
  color: #5c616a;
}

.headerWrapper .header-limiter a {
  color: #00a467;
  text-decoration: none;
}

#flexContainer {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 80%;
}

#queryBox {
  display: flex;
  justify-content: center;
  margin: auto;
}

#queryForm {
  width: 100%;
}

#queryInput {
  width: 100%;
}

#resultBox {
  overflow-x: scroll;
  display: flex;
  justify-content: center;

}

#resultTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  white-space: nowrap;
}

#resultTable td, #resultTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resultTable tr:nth-child(even){background-color: #f2f2f2;}

#resultTable tr:hover {background-color: #ddd;}

#resultTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a467;
  color: white;
}