<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>shtql</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' th:href="@{https://fonts.googleapis.com/css?family=Cookie}" rel='stylesheet' type='text/css'>
</head>

<body>

<header class="headerWrapper">
    <div class="header-limiter">
        <img id="headerLogo" src="../static/images/logoSmall.png" th:src="@{/images/logoSmall.png}" alt="shtql Logo">
        <h1 id="logoDesc"><a href="#">Sht<span>Sql</span></a></h1>
    </div>
</header>

<div id="flexContainer">

    <div id="queryBox">
        <form id="queryForm" action="#" th:action="@{/shtql}" th:object="${userQuery}" method="post">
            <p id="formDesc">Enter your query:</p>
            <div>
                <input id="queryInput" type="text" th:field="*{userQuery}" />
                <p id="formControlls">
                    <input class="button" type="submit" value="Submit"/>
                    <button id="instructionsButton" class="button" type="button" onclick="showInstructions()">Instructions</button>
                </p>
            </div>
        </form>
    </div>

    <div id="instructions" class="exampleDesc" style="display: none;">
        <ul class="instructionsBulletPoints">
            <li>
                <p>Use only single quotes in your query (').
                </p>
            </li>

            <li>
                <p>You can use any spreadsheet you like,
                    the only thing you need, is a sheet Id and its name.
                </p>
            </li>

            <li>
                <p> Where I can find spreadsheet id?
                </p>
                <img class="instructionsPic" src="../static/images/findDocId.png" th:src="@{/images/findDocId.png}" alt="sheet id">
            </li>

            <li>
                <p> Where I can find table name?
                </p>
                <img class="instructionsPic" src="../static/images/tableName.png" th:src="@{/images/tableName.png}" alt="table name">
            </li>

            <li>
                <p>Insert spreadsheet id after 'FROM' keyword,
                    then add '->' and insert table name with '_' instead of spaces.
                </p>
                <p> Example:
                </p>
                <p><blockquote><i>
                    SELECT * FROM 1n4lDtIZasgasasagfgzDJOOpRzOBYKqI->Table_Name;
                </i></blockquote>
                </p>
            </li>

            <li>
                <p>Check spreadsheet sharing settings: it should be available for anyone with a link.
                </p>
                <img class="instructionsPic" style="max-width: 60%" src="../static/images/sharingSettings.png" th:src="@{/images/sharingSettings.png}" alt="availability">
            </li>

            <li>
                <p>Try with demo data: </p>

                <p><blockquote><i>
                    SELECT * FROM student_data;
                </i></blockquote></p>

                <p><blockquote><i>
                SELECT * FROM class_data where Major like 'Ma';
                </i></blockquote></p>

                <p><blockquote><i>
                SELECT * FROM class_data where Major like 'Ma';
            </i></blockquote></p>
            </li>

        </ul>
    </div>

    <div id="resultBox" th:if="${entryList != null and headersEntrys != null}">
        <table id="resultTable">
            <thead>
                <tr>
                    <th th:each="header :${headersEntrys.getContent()}" th:text="${header}"></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="entry :${entryList}">
                    <td  th:each="entryContent :${entry.getContent()}" th:text="${entryContent}"></td>
                </tr>
            </tbody>
        </table>
        <p id="warningMessage" class="errorDesc" th:if="${#lists.isEmpty(entryList)}">No matching results found...</p>
    </div>

    <div id="errorMessage">
        <p class="errorDesc" th:if="${malformedQueryException != null}" th:text="${malformedQueryException.getMessage()}"/>
    </div>
</div>

<script>
    function showInstructions() {
        var x = document.getElementById("instructions");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>

</html>