<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>shtql</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>

<body>

<header class="headerWrapper">

    <div class="header-limiter">
        <img id="headerLogo" src="../static/images/logoSmall.png" th:src="@{/images/logoSmall.png}" alt="shtql Logo">
        <h1 id="logoDesc"><a href="#">Sht<span>Sql</span></a></h1>

    </div>

</header>

<div id="flexContainer">

    <!--<table>-->
        <!--<caption>Sheet Name</caption>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th scope="col">Account</th>-->
            <!--<th scope="col">Due Date</th>-->
            <!--<th scope="col">Amount</th>-->
            <!--<th scope="col">Period</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td data-label="Account">Visa - 3412</td>-->
            <!--<td data-label="Due Date">04/01/2016</td>-->
            <!--<td data-label="Amount">$1,190</td>-->
            <!--<td data-label="Period">03/01/2016 - 03/31/2016</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td scope="row" data-label="Account">Visa - 6076</td>-->
            <!--<td data-label="Due Date">03/01/2016</td>-->
            <!--<td data-label="Amount">$2,443</td>-->
            <!--<td data-label="Period">02/01/2016 - 02/29/2016</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td scope="row" data-label="Account">Corporate AMEX</td>-->
            <!--<td data-label="Due Date">03/01/2016</td>-->
            <!--<td data-label="Amount">$1,181</td>-->
            <!--<td data-label="Period">02/01/2016 - 02/29/2016</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td scope="row" data-label="Acount">Visa - 3412</td>-->
            <!--<td data-label="Due Date">02/01/2016</td>-->
            <!--<td data-label="Amount">$842</td>-->
            <!--<td data-label="Period">01/01/2016 - 01/31/2016</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <div id="queryBox">
        <form id="queryForm" action="#" th:action="@{/shtql}" th:object="${userQuery}" method="post">
            <p>query:</p>
            <input id="queryInput" type="text" th:field="*{userQuery}" />
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>

    <div th:if="${entryList != null}">
        <table th:object="${entryList}" id="userTable" border="1">
            <tr th:each="entry :${entryList}">
                <td  th:each="entryContent :${entry.getContent()}" th:text="${entryContent}"></td>
            </tr>
        </table>
    </div>


</div>

</body>

</html>